* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  background-image: url(images/bg-stars.svg),
    linear-gradient(180deg, rgb(36, 2, 45), black);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timer {
  color: white;
  padding: 20px 10px;
  font-family: "poppins", sans-serif;
  margin: 10px 20px;
  text-align: center;
}
.timer h1 {
  font-size: 1.5em;
  letter-spacing: 3px;
  font-weight: bolder;
}
.img {
  background-image: url(images/pattern-hills.svg);
  background-size: cover;
  background-size: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
}
.img ul li {
  display: inline-block;
  margin: 50px 5px 0;
  font-size: 25px;
  cursor: pointer;
  transition: all 0.4s;
}
.img ul li:hover {
  color: purple;
}
.container-content {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  margin-bottom: 100px;
  flex-wrap: wrap;
}
.container-content div {
  text-align: center;
  margin: 0 20px;
  position: relative;
}
.container-content div p {
  width: 90px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: hsl(345, 95%, 68%);
  font-weight: bolder;
  font-size: 40px;
  background: linear-gradient(rgb(45, 50, 72) 50%, hsl(236, 21%, 26%) 50%);
}
.animasi{
    animation: kecilBesar 1s infinite;
}
@keyframes kecilBesar{
    from{
        font-size: 0px;
    }to{
        font-size: 40px;
    }
}
.container-content div h3 {
  font-size: 13px;
  margin-top: 10px;
  color: gray;
}

@media only screen and (max-width: 500px){
    .container-content{
        width: 100%;
        padding: 0;
        margin: 100px 0;
    }
    .timer{
        padding: 0;
        margin: 0;
    }
    .container{
        margin: 0;
        padding: 0;
    }
    .container-content div{
        margin: 5px;
    }
    .container-content div p {
        width: 80px;
        height: 70px;
        margin: 0 0px;
        font-size: 20px;
    }
}
/* .container-days, .container-hours, .container-minutes, .container-seconds{
    margin: 0 10px;
    background: transparent;
}
.days{
    padding: 10px 30px;
    font-size: 30px;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    background-color: black;
    position: absolute;
}
.hours{
    padding: 10px 30px;
    font-size: 30px;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    background-color: black;
}
.minutes{
    padding: 10px 30px;
    font-size: 30px;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    background-color: black;
}
.seconds{
    padding: 10px 30px;
    font-size: 30px;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    background-color: black;
} */
